*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.counter-box{
    background-color: gray;
padding: 30px;
  width: 280px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgb(141, 135, 135);
}
.counter-box h2{
    margin: 20px ;
}
#counter-display {
  font-size: 50px;
  font-weight: bold;
  margin: 20px ;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    
  
}
button{
        width: 45%;
  padding: 12px 0;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  background-color: rgb(95, 95, 95);
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;

}